.buttonsgrid {
	display: flex;
	gap: 8px;
	justify-content: center;
	padding: 94px 0px 0px 0px;
	margin: 0px;

	&__select {
		height: 38px;
		background: var(--link-color);
		border-radius: 4px;
		border: none;
		cursor: pointer;
		padding: 6px 22px 6px 22px;
		text-align: center;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover {
			background-color: var(--sec-color);
			color: var(--back-color);
			box-shadow: 0px 2px var(--shadow_color);
		}
	}
}
