.portofolio {
	&__list {
		box-sizing: border-box;
		width: 1200px;
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
		margin: 0px;
		padding: 50px 0px 94px 0px;

		& li {
			overflow: hidden;
			box-sizing: border-box;
			width: 370px;
			height: 404px;
			padding: 0px;
			margin: 0px;
			transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
			border: 1px solid var(--border2-color);

			&:hover {
				transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
				box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
					0px 4px 4px rgba(0, 0, 0, 0.06),
					1px 4px 6px rgba(0, 0, 0, 0.16);
			}
		}
	}

	&__frame {
		position: relative;
		overflow: hidden;
		cursor: pointer;

		&:hover .portofolio__frame-blueoverlay {
			transform: translateY(-8px);
		}

		&-image {
			width: 370px;
			height: 294px;
		}

		&-blueoverlay {
			width: 370px;
			height: 294px;
			top: 8px;
			position: absolute;
			overflow: hidden;
			background: var(--blue-portofolio);
			transform: translateY(100%);
			transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}

		&-blueoverlay p {
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			letter-spacing: 0.03em;
			color: var(--back-color);
			padding: 64px 24px 91px 24px;
		}
	}

	&__data {
		height: 110;
		width: 370;
		background-color: var(--back-color);

		&-title {
			background-color: var(--back-color);
			position: relative;
			font-weight: 700;
			font-size: 18px;
			line-height: 36px;
			letter-spacing: 0.06em;
			margin: 0px;
			padding: 20px 0px 0px 24px;
			/* bottom:0px; */
		}

		&-type {
			background-color: var(--back-color);
			position: relative;
			font-weight: 400;
			font-size: 16px;
			line-height: 30px;
			color: var(--third-color);
			margin: 0px;
			padding: 4px 0px 0px 24px;
		}
	}
}
