.what,
.team,
.regular__customers {
	text-align: center;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.03em;
	color: var(--main-color);
	margin: 0px 0px 50px 0px;
}

.what {
	&__photos__grid {
		/* box-sizing: border-box;
    height: 294px; */
		display: flex;
		justify-content: space-between;
		gap: 30px;
		margin: 0px;
		padding: 0px 0px 94px 0px;
	}

	&__item {
		margin: 0px;
		box-sizing: border-box;
		width: auto;
		height: auto;
		position: relative;
	}

	&__item .what__text {
		margin: 0px;
		box-sizing: border-box;
		position: absolute;
		bottom: 6px;
		width: 370px;
		height: 70px;
		font-family: sans-serif;
		background-color: var(--back-transparency);
		color: var(--back-color);

		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		text-align: center;
		letter-spacing: 0.03em;
		padding: 27px 0px 27px 0px;
	}
}
